<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Pubg Scraper</title>
    <!-- Favicon -->
    <link rel="icon" href="assets/images/newspaper_icon.png">
    <!-- View Port Size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/style/style.css">
  </head>

  <body>

  <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#" class="brand-logo">Pubg Scraper</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://www.reddit.com/r/PUBATTLEGROUNDS/">Pubg Reddit</a></li>
        <li><a href="badges.html">Github</a></li>
      </ul>
    </div>
  </nav>
</div>

    <!-- Page Content -->
    <main>

      <!-- Render All Articles -->
      <div class="container">
        {{{body}}}
      </div>

    </main>


    <!-- Footer -->
    <footer class="page-footer grey darken-3">
      <div class="footer-copyright">
        <div class="container">
        © Author cannot claim copyright. All article data was web scraped from
        <a class="grey-text text-lighten-4" href="https://www.reddit.com/r/PUBATTLEGROUNDS/">www.theonion.com</a>
        </div>
      </div>
    </footer>



    <!-- Link in jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Materialize - Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- Basic Page JavaScript for Repsonsiveness -->
    <script type="text/javascript" src="assets/javascript/app.js"></script>

  </body>

</html>
